# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.local

# Local uploads and temporary files
uploads/
1/
2/
*.log
.DS_Store

# IDE / Editor folders
.vscode/
.idea/

# Archives and compressed files
*.zip
*.rar
*.7z
*.tar
*.gz

# Documentation and logs
*.txt
*.text
*.log


# OS specific files
.DS_Store
Thumbs.db